<div class="page-banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>خطا 404</h2>
                    <ul>
                        <li>
                            <a href="index.html">خطا</a>
                        </li>
                        <li>خطا 404</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="assets/img/404.png" alt="error">
                    <h3>صفحه یافت نشد</h3>
                    <p>صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام آن حذف شده باشد یا به طور موقت در دسترس
                        نباشد</p>
                    <a href="index.html" class="default-btn">
                        بازگشت به صفحه اصلی
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>