<div class="page-banner-area item-bg3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>ورود کاربران</h2>
                    <ul>
                        <li>
                            <a href="/">خانه</a>
                        </li>
                        <li>ورود کاربران</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="login-area ptb-100">
    <div class="container">
        <div class="login-form">
            <h2>ورود کاربران</h2>
            <%- include('../../../../layouts/validationError' , {Errors : ClientError}) %>
                <form action="/fa/auth/login" method="post">
                    <div class="form-group">
                        <label>کد ملی</label>
                        <input type="text" name="nationalId" class="form-control" placeholder="کد ملی">
                    </div>
                    <div class="form-group">
                        <label>گذرواژه</label>
                        <input type="text" name="password" class="form-control" placeholder="گذرواژه">
                    </div>
                    <button type="submit">ورود</button>
                </form>
                <div class="important-text">
                    <p>حساب کاربری ندارید؟ <a href="/fa/auth/register">ثبت نام</a></p>
                </div>
        </div>
    </div>
</section>