<div class="page-banner-area item-bg2">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="page-banner-content">
<h2>حریم خصوصی</h2>
<ul>
<li>
<a href="/">خانه</a>
</li>
<li>حریم خصوصی</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<section class="privacy-policy-area ptb-100">
<div class="container">
<div class="privacy-policy-accordion">
<ul class="accordion">
<li class="accordion-item">
<a class="accordion-title active" href="javascript:void(0)">
<i class='bx bx-plus'></i>
گزینه خود را پیدا کنید 
</a>
<p class="accordion-content show">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
ارسال درخواست به صورت آنلاین 
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
دریافت برنامه 
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
ثبت نام در کلاس 
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
شرکت در کلاس آنلاین
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
مدارک تحصیلی چیست؟
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
چگونه می توانم در کلاس شرکت کنم؟
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
ثبت نام در کلاس آنلاین
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. 
</p>
</li>
<li class="accordion-item">
<a class="accordion-title" href="javascript:void(0)">
<i class='bx bx-plus'></i>
شرکت در کلاس آنلاین
</a>
<p class="accordion-content">
لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. به سادگی ساختار چاپ و متن را در بر می گیرد. </p>
</li>
</ul>
</div>
</div>
</section>
